[data-tab-content] {
    display: none;
}
html {  
    scroll-behavior: smooth;  
}
.active[data-tab-content]{
    display: block;
}
body{
    
    
    height: auto;
    overflow-x: hidden;
    
    
    
}


header{
    display: flex;
    justify-content: space-between;
    
}
.logo{
    padding: .5em 1em;
    margin: 0;
}
.pic{
    width: 100px;
    height: 50px;
}
.nav{
    position: fixed;
    background: rgba(0, 0, 0, 0.95);
    color: white;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 100;
    transform: translate(100%);
    transition: transform 250ms cubic-bezier(.5,0,.5,1);

}
.nav__list{
    list-style: none;
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.nav__link{
    color: inherit;
    font-weight: 500;
    font-size: 2em;
    text-decoration: none;
}
.nav__link:hover{
    color: var(--clr-accent);
}
.hamburger{
   
    display: block;
    position: relative;
}
.hamburger,
.hamburger::before,
.hamburger::after
{
    background: black;
    width: 2em;
    height: 3px;
    border-radius: 1em;
    transition: transform 250ms ease-in-out;
}
.hamburger::before,
.hamburger::after{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    
}
.hamburger::before{
    top:6px;
}
.hamburger::after{
    bottom: 6px;
}
.nav-toggle{
    padding: .5em;
    background: transparent;
    border: 0;
    cursor: pointer;
    position: absolute;
    right: 1em;
    top: 1em;
    z-index: 200;
}
.nav-open .nav{
    transform: translateX(0);
    
}
.nav-open .nav-toggle{
   
    position: fixed; 
    /* dont have this is u want to scroll with site*/
}
.nav-open .hamburger{
    transform: rotate(.625turn);
    background: aqua;

}
.nav-open .hamburger::before{
    transform: rotate(90deg) translateX(-6px);
    background: aqua;
}
.nav-open .hamburger::after{
    opacity: 0;
}
strong{
    font-weight: 900;
}
section{
    padding: 2em 2em;
   
}
/*intro*/
.intro{
    
    position: relative;
    top: 15vh;
}
.intro-title{
    margin-bottom: .25em;
    font-size: 3em;
    font-weight: 200;
}
.intro{
    display: grid;
    grid-column-gap: 1em;
    width: min-content;
    margin:0 auto;
    grid-template-areas: 
        "img title"
        "img subtitle";
        grid-template-columns: min-content max-content;
}
.intro-img{
    grid-area: img;
    min-width: 200px;
    max-width: 200px;
    position: relative;
    z-index: 2;
}
.intro-title strong{
    text-align: right;
}
.intro-subtitle{
    align-self: start;
    grid-column: -1/1;
    grid-row: 2;
    text-align: right;
    position: relative;
    top: -1.5em;
    left: -1.5em;
    width: calc(100% + 1.5em);
}
.intro-img{
    min-width: 150px;
        max-width: 300px;
}
.intro-title strong{
    display: block;
}
.intro-subtitle{
    margin-bottom: 1em;
    margin: 0;
    font-size: 2em;
    background: aqua;
}
.about{
    
    position: relative;
    top: 30vh;
    color: white;
    display: grid;
    grid-template-columns: 35% 27% 27%;
    gap: 2em;
    grid-template-rows: 50% 50%;
    grid-template-areas: 
        "about skill1 skill2"
        "about skill3 skill4"
    ;
    background-image: url(img/background.jfif);
    background-size: cover;
    background-color: rgba(0, 0, 0, 0.74);
    background-blend-mode: multiply;
    width: 100vw;
    height: 80vh;
    left: -10px;
    
}
.about-subtitle{
    font-size: 1.2em;
}
.textholder{
    grid-area: about;
    padding: 2em;


}
.skillholder1{
    position: relative;
    grid-area: skill1;
    border-top: 3px solid red;
    padding: 1em;
    
}
.skill-title1{
    margin-top: 0;
    color: red;
}
.skillholder2{
    position: relative;
    grid-area: skill2;
    border-top: 3px solid green;
    padding: 1em;
}
.skill-title2{
    color: green;
    margin-top: 0;
}
.skillholder3{
    position: relative;
    grid-area: skill3;
    border-top: 3px solid aqua;
    padding: 1em;
    margin-top: 0;
}
.skill-title3{
    color: aqua;
    margin-top: 0;
}
.skillholder4{
    position: relative;
    grid-area: skill4;
    border-top: 3px solid orange;
    padding: 1em;
}
.skill-title4{
    color: orange;
    margin-top: 0;
}
.skill-subtitle{
    font-size: 1.5em;

}
.skill-des{
    position: absolute;
    margin-top: 0;
    font-size: 1.2em;
}
.contact-me{
    color: aqua;
    font-size: 1.2em;
}


.about-title{
    margin: 0;
    text-align: center;
    font-size: 3em;
    margin-bottom: 1em;
}
.project-title{
    font-size: 3em;
}
.projects{
    position: relative;
    top: 30vh;
    text-align: center;
}
.gallery{
    
    display: grid;
  grid-template-columns: repeat(auto-fit,minmax(400px,1fr));
 

}
.gallery-img{
    width: 400px;
    height: 350px;
    filter: grayscale(100%);
    transition: 1s;
}
.gallery-img:hover{
    filter: grayscale(0%);
    transform: scale(1.1);
}
.cont-title{
    position: relative;
    top: 35vh;
    text-align: center;
}
.contact{
    position: relative;
    top: 40vh;
    display: grid;
    height: 40vh;
    grid-template-columns: 50% 50%;
    gap: .5em 2em;
    grid-template-rows: 20% 20% 30% 10% ;
    grid-template-areas: 
        "name email"
        "subject subject"
        "message message"
        "nothing submit"
        
    ;

}
.input-name{
    grid-area: name;
    
}
.input-email{
    grid-area: email;
}
.input-subject{
    grid-area: subject;
}
.input-content{
    grid-area: message;
}

input {
    
        text-indent: 10px;
     
   
}
.send-message {
    display: inline-block;
   
    border-radius: 10px;
    border: 4px double black;
    color: black;
    text-align: center;
    font-size:28px;
    padding: 20px;
    width: 40%;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px 0px;
    position: absolute;
    right: 0;
    grid-area: submit;
  }
  .send-message:hover{
      background-color: greenyellow;
    transition: 1s;
  }

label::after {
   
    
   
    font-family: arial, helvetica, sans-serif;
    font-size: 12px;
  
    color: rgba(0, 0, 0, 0.6);
    font-weight: bold;
}
@media (max-width: 1000px){
    .intro{
        display: grid;
        grid-column-gap: 1em;
        width: min-content;
        margin:0 auto;
        grid-template-areas: 
            "img title"
            "img subtitle";
            grid-template-columns: min-content max-content;
    }
    .intro-img{
        grid-area: img;
        min-width: 200px;
        max-width: 200px;
        position: relative;
        z-index: 2;
    }
    .intro-title strong{
        text-align: right;
    }
    .intro-subtitle{
        align-self: start;
        grid-column: -1/1;
        grid-row: 2;
        text-align: right;
        position: relative;
        top: -1.5em;
        left: -1.5em;
        width: calc(100% + 1.5em);
    }
    .send-message {
        display: inline-block;
       
        border-radius: 10px;
        border: 4px double black;
        color: black;
        text-align: center;
        font-size: 10px;
        padding: 20px;
        width: 40%;
        -webkit-transition: all 0.5s;
        -moz-transition: all 0.5s;
        -o-transition: all 0.5s;
        transition: all 0.5s;
        cursor: pointer;
        margin: 5px;
        position: absolute;
        right: 0;
        grid-area: submit;
      }
      .about{
    
        position: relative;
        top: 30vh;
        color: white;
        display: block;
        background-image: url(img/background.jfif);
        background-size: cover;
        background-color: rgba(0, 0, 0, 0.74);
        background-blend-mode: multiply;
        width: 100vw;
        height: auto;
        left: -10px;
        
    }
    section{
        padding: 2em .25em;
       
    }
    .skill-des{
        position: relative;
        margin-top: 0;
        font-size: 1.2em;
    }
    .gallery{
        gap: 1em;
    }
    .contact{
        position: relative;
        top: 40vh;
        display: grid;
        height: 40vh;
        grid-template-columns: 47.5% 47.5% 5%;
        gap: .5em 2em;
        grid-template-rows: 20% 20% 30% 10% ;
        grid-template-areas: 
            "name email nothing"
            "subject subject nothing"
            "message message nothing"
            "nothing submit nothing"
            
        ;
    
    }
}